<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13091460516-jbbf9am5vj3827f7uuechpl1sakd3mkn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13091460516-jbbf9am5vj3827f7uuechpl1sakd3mkn</string>
	<key>API_KEY</key>
	<string>AIzaSyCcXanz8IcwZPEpIYC7aYJUmUJPdzh4Qtk</string>
	<key>GCM_SENDER_ID</key>
	<string>13091460516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.healthbridge.healthdoc</string>
	<key>PROJECT_ID</key>
	<string>healthbridgeprod</string>
	<key>STORAGE_BUCKET</key>
	<string>healthbridgeprod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13091460516:ios:846c7bc8400ff0da5cdd31</string>
</dict>
</plist>